<h1>Fwitter Signup</h1>

<form action="/signup" method="post">
    <label>Username: </label>
    <input type="text" name="user[username]" required><br>
    <label>Email Address: </label>
    <input type="email" name="user[email]" required><br>
    <label>Password: </label>
    <input type="password" name:"user[password]"><br>
    <br>
    <input type="submit" value="Signup">
</form>
